mixin intro-section()

	section.section.section-first
		div.container
			div.container-inner.container-inner--intro-section
				div.intro-column-description
					h1.header-title.bounceInRight.animatable
						span.header-title__first-part We propose
						span.header-title__second-part a software solution
						span.header-title__third-part to raise funds for ICO
					div.horizontal-line


					p.intro-text The main function of PS is to simplify ICO process management. PC is important not only for investors, but also for ICO founders.
						| The key point ensuring investor confidence is the transparency of the funds transfer and receipt
						| of payments in cryptocurrency to the Private Cabinet. For founders it means the autonomy of work,
						| automatic settings for bonus accruals and so on.

					div.intro-icon-block
						div.intro-icon-block__first.intro-icon-block__item
							img(src='img/main-page/inro-section/icon-1.png')
							div Investor’s</br> Dashboard
						div.intro-icon-block__second.intro-icon-block__item
							img(src='img/main-page/inro-section/icon-2.png')
							div ICO Administrator’s</br> Dashboard
				div.intro-column-image
					img.intro-sectio-image(src='img/main-page/inro-section/Token-sale-box.png')
					a.button-intro.bounceInLeft.animatable.extra-services-click(href='#') Launch your ICO with TOKEN SALE

	//.section.section--test
	//	h1 Enjoy it!