mixin section-features()
	section#features.section.section-features
		h1.section-features__title Dashboard Features
		div.container
			div.container-inner
				div.column--tree-items.column-future
					img.column-future__image(src='img/main-page/section-future/future-icon-1.png')
					h3.column-future__title Multiple cryptocurrencies & fiat money
					p.column-future__description BTC, ETH, LTC, ETC, BCH, Credit Card & Wire transfers support, WEX exchange

				div.column--tree-items.column-future
					img.column-future__image(src='img/main-page/section-future/future-icon-2.png')
					h3.column-future__title Multilingual
					p.column-future__description Dashboard available in multiple languages (en, ru, es, ch, it, fr, de, kr, jp) and we can translate it to any additional language.

				div.column--tree-items.column-future
					img.column-future__image(src='img/main-page/section-future/future-icon-3.png')
					h3.column-future__title KYC
					p.column-future__description The solution with a compliance role in CMS allows to the validate identity of your backers to avoid legal issues


			div.container-inner
				div.column--tree-items.column-future
					img.column-future__image(src='img/main-page/section-future/future-icon-4.png')
					h3.column-future__title User friendly
					p.column-future__description We use social networks and e-mails sign up & log in to increases conversion rates and provide better investment experience.

				div.column--tree-items.column-future
					img.column-future__image(src='img/main-page/section-future/future-icon-5.png')
					h3.column-future__title OTP or 2FA authentication
					p.column-future__description One-time password (OTP) or two-factor authentication (2FA) secures backers’ account

				div.column--tree-items.column-future
					img.column-future__image(src='img/main-page/section-future/future-icon-6.png')
					h3.column-future__title Admin panel
					p.column-future__description We provide Admin panel (CMS with ICO settings) where you can easily set, update, and manage manage all of your ICO configurations (wallets, users, purchases, etc)

			div.container-inner
				div.column--tree-items.column-future
					img.column-future__image(src='img/main-page/section-future/future-icon-7.png')
					h3.column-future__title Referral program
					p.column-future__description It allows to reward backers for bringing more participants to crowdfund your ICO with custom bonus schemas.

				div.column--tree-items.column-future
					img.column-future__image(src='img/main-page/section-future/future-icon-8.png')
					h3.column-future__title Custom purchased bonus
					p.column-future__description Assign personalised purchased bonus based on a user profile.

				div.column--tree-items.column-future
					img.column-future__image(src='img/main-page/section-future/future-icon-9.png')
					h3.column-future__title Bounty-program
					p.column-future__description

		a.free-consultation-button.contact-button-click.bounceInRight.animatable(href='#') GET A FREE CONSULTATION