mixin section-scroll-first()
	//section.section-scroll-first.bg-dark.text-white
	section#administrator.section-scroll-first
		#owl-example.owl-carousel
			div.scroll-slide1--first
				div.container
					h2.section-scroll-first__title The ICO administrator’s Dashboard
						span.section-scroll-first__title__bg The ICO administrator’s Dashboard
					div.container-inner

						div.column--two-items
							p.section-scroll-first__subtitle Fundraising Platform - is public, available for investors, where tokens are sold
							div.horizontal-line.horizontal-line--dashboard
							p.dashboard-text Where the tokens are sold and distribution is controlled, represented statistics about users and transactions is formed.Here you can change the current cost of the token. You can stop ICO using the “Stop” (pause) or “End ICO” buttons. Private token sale is also available.


						div.column--two-items.column-scroll-first
							img.scroll-first-image(src='img/main-page/scroll-section-first/scrooll-section-first-1.jpg')

						a.button-blue.button-blue--ssf.bounceInLeft.animatable(href='https://docs.google.com/forms/d/e/1FAIpQLSftiYcJK44EZUvRRzYWpm_O6cBCeMEgoCOfJ0kFlaUuergNmw/viewform' targe='blank') try demo


			div.scroll-slide1--second
				div.container
					h2.section-scroll-first__title The Long List of Goodies for your Success
						span.section-scroll-first__title__bg The Long List of Goodies for your Success

					p.section-scroll-first__subtitle We’ve worked hard to equip you with these nice features:
					div.container-inner

						div.column--tree-items
							div.section-scroll-icon.section-scroll-icon--right

								span.section-scroll-icon__text user signup and onboarding
								img.section-scroll-icon__img(src='img/main-page/scroll-section-first/section-scroll-icon.png')
							div.section-scroll-icon.section-scroll-icon--right
								span.section-scroll-icon__text multiple payments methods
								img.section-scroll-icon__img(src='img/main-page/scroll-section-first/section-scroll-icon.png')
							div.section-scroll-icon.section-scroll-icon--right
								span.section-scroll-icon__text KYC and verification
								img.section-scroll-icon__img(src='img/main-page/scroll-section-first/section-scroll-icon.png')
							div.section-scroll-icon.section-scroll-icon--right
								span.section-scroll-icon__text token sale flow
								img.section-scroll-icon__img(src='img/main-page/scroll-section-first/section-scroll-icon.png')
							div.section-scroll-icon.section-scroll-icon--right
								span.section-scroll-icon__text transaction visibility
								img.section-scroll-icon__img(src='img/main-page/scroll-section-first/section-scroll-icon.png')
							div.section-scroll-icon.section-scroll-icon--right
								span.section-scroll-icon__text messaging center
								img.section-scroll-icon__img(src='img/main-page/scroll-section-first/section-scroll-icon.png')

						div.column--tree-items.column--scroll-item-first

							div.section-scroll-phone
								div.section-scroll-phone__block
									img.section-scroll-phone__block__img(src='img/main-page/scroll-section-second/phone-image.png')
									div.section-scroll-phone__block__description We’ve worked hard to equip you with these nice features:



						div.column--tree-items
							div.section-scroll-icon
								img.section-scroll-icon__img(src='img/main-page/scroll-section-first/section-scroll-icon.png')
								span.section-scroll-icon__text bounty management
							div.section-scroll-icon
								img.section-scroll-icon__img(src='img/main-page/scroll-section-first/section-scroll-icon.png')
								span.section-scroll-icon__text project progress
							div.section-scroll-icon
								img.section-scroll-icon__img(src='img/main-page/scroll-section-first/section-scroll-icon.png')
								span.section-scroll-icon__text raffle
							div.section-scroll-icon
								img.section-scroll-icon__img(src='img/main-page/scroll-section-first/section-scroll-icon.png')
								span.section-scroll-icon__text airdrops

							div.section-scroll-icon
								img.section-scroll-icon__img(src='img/main-page/scroll-section-first/section-scroll-icon.png')
								span.section-scroll-icon__text AQ section
							div.section-scroll-icon
								img.section-scroll-icon__img(src='img/main-page/scroll-section-first/section-scroll-icon.png')
								span.section-scroll-icon__text referral programs



						a.button-blue.button-blue--ssf.bounceInLeft.animatable(href='https://docs.google.com/forms/d/e/1FAIpQLSftiYcJK44EZUvRRzYWpm_O6cBCeMEgoCOfJ0kFlaUuergNmw/viewform' targe='blank') try demo