mixin video-section()
	section.section.section-video
		div.container
			div.container-inner.container-inner--section-video
				div.column--two-items.column--two-items-video-section
					div.section-video-description.bounceInLeft.animatable
						span.section-video-description__text1 Your ICO needs our
						span.section-video-description__text2 Personal Cabinet
				div.column--two-items.column--two-items-video
					.video-intro.section-video-description
						#3dgl5nOe6w0.youtube.video-intro__wrapper
							img.video-intro-play(src='http://crypta.education/img/intro/youtube-button.png')
							img.video-intro-img.baner-transparent(src='http://crypta.education/img/intro/transperent.png')

		div.line-video-section