mixin section-dashboard()
	section#investor.section.section-dashboard
		h2.section-dashboard__title.bounceInRight.animatable This is the Investor’s Dashboard
		p.section-dashboard__subtitle.bounceInLeft.animatable Fundraising Platform - is public, available for investors, where tokens are sold
		div.container

			div.container-inner
				div.column--tree-items.column-dashboard
					p.guideTo Guide to:
					.video-dashboard.section-video-description
						#NDxVfyWEluo.youtube.video-intro__wrapper.video-intro__wrapper--dashboard
							img.video-intro-play(src='http://crypta.education/img/intro/youtube-button.png')
							img.video-intro-img.baner-transparent(src='http://crypta.education/img/intro/transperent.png')


				div.column--tree-items.column-dashboard
					h3.dashboard-column-title Accept major </br> peyment methods
					div.dashboard-icon-block
						img.icon-dashboard(src='img/main-page/dashboard-section/icon-dashboard-1.png')
						img.icon-dashboard(src='img/main-page/dashboard-section/icon-dashboard-2.png')
						img.icon-dashboard(src='img/main-page/dashboard-section/icon-dashboard-3.png')
						img.icon-dashboard(src='img/main-page/dashboard-section/icon-dashboard-4.png')
					a.button-blue.bounceInLeft.animatable(href='https://demo.easytoken.sale/') try demo
					div.dashboard-value
						span.dashboard-value__title Login:
						span.dashboard-value__description demo@example.com
					div.dashboard-value
						span.dashboard-value__title Password:
						span.dashboard-value__description 123123aA

				div.column--tree-items.column-dashboard
					div.horizontal-line.horizontal-line--dashboard
					p.dashboard-text.bounceInRight.animatable All information about the current ICO is displayed in the Purchase token menu. Here, users can purchase tokens at a specified cost, see the stages and timing of the ICO and see the overall fees for the project. In the multicurrency Cabinet, the user can choose one of the popular crypto currency for payment. The rate is updated once a minute.