mixin footer()
	//footer#footer.footer
		div.container.container--footer
			div.container-inner.container-inner--footer
				div.footer-copy-block 2018 © Tokenisation
				div.footer-link-block
					a(href='#') Site Map
					a(href='#') Privacy policy
					a(href='#') Web Use Policy
				div.footer-social-block
					p.footer-social-block__title Get social with us
					div.footer-social-block__description
						a(href='#')
							i.fa.fa-facebook-f
						a(href='#')
							i.fa.fa-linkedin
				div.footer-input-block
					p.footer-input-block__title Subscribe to news latter
					div.footer-input-block__description
						input.input-footer(type="email" placeholder=" Your email"  pattern="[a-zA-Z0-9_]+(?:\.[A-Za-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?!([a-zA-Z0-9]*\.[a-zA-Z0-9]*\.[a-zA-Z0-9]*\.))(?:[A-Za-z0-9](?:[a-zA-Z0-9-]*[A-Za-z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?"   )
						a.footer-button(href='#') send



	footer#footer
		.container.container--footer
			.container--footer__block
				.container--footer__half
					.footer-half__name
						| Andrey Moroz
					.footer-half__position
						| CEO & Co-Founder “TOKENIZATION”
					.footer-half__phone
						a(href='tel:+38 (050) 574-82-94')
							| +38 (050) 574-82-94
					.footer-half__mail
						a(href='mailto:andreyfrost@gmail.com')
							| andreyfrost@gmail.com
				.container--footer__block
					span 2018 ©  TOKENIZATION
				.container--footer__half
					.footer-half__name
						| Viktor Shpak
					.footer-half__position
						| Technical Director
					.footer-half__phone
						a(href='tel:+38 (050) 269-74-06')
							| +38 (050) 269-74-06
					.footer-half__social
						a(href='http://easytoken.sale/img/skype.png')
							i.fa.fa-skype
						a(href='https://t.me/valien')
							i.fa.fa-paper-plane
						a(href='https://www.linkedin.com/in/vshpak/')
							i.fa.fa-linkedin


	.contact-button-conteiner
		.contact-button__borders
		.contact-button__main.contact-button-click
			a(href='#')
				| CONTACT
				br
				| US
