@font-face{
  font-family: "mpb";
  src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf");
  font-style: normal;
  font-weight: 900;
}

@font-face{
  font-family: "mpr";
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf");
  font-style: normal;
  font-weight: 400;
}


@font-face{
  font-family: "Oswald-Bold";
  src: url("../fonts/Oswald/Oswald-Bold.woff");
  font-style: normal;
  font-weight: 900;
}

@font-face{
  font-family: "Oswald-Regular";
  src: url("../fonts/Oswald/Oswald-Regular.woff");
  font-style: normal;
  font-weight: 400;
}

